<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MYbrewary{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    
    <header class='main-header'>
        <h1 class='header-title'>MYbrewary 🍺</h1>
        <img src="{{ url_for('static', filename='img/header.png') }}"class="header-image">
    </header>

    <nav>
    <a href="{{ url_for('index') }}">Strona Główna</a> |
    <a href="{{ url_for('ingredients') }}">Składniki</a> |
    <a href="{{ url_for('recipes') }}">Przepisy</a> |
    <a href="{{ url_for('stats') }}">Statystyki</a> |
    <a href="{{ url_for('brewing') }}">Warzenie</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 MYbrewary</p>
    </footer>
</body>
</html>
