{% extends 'base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
    <div class="index-page-orbit-container">
        <div class="beerglass">
            <img src="{{ url_for('static', filename='img/beerglass.png') }}" alt="Szklanka piwa">
        </div>

        <div class="ingredients">
            <a href="{{ url_for('ingredients') }}">
                <img src="{{ url_for('static', filename='img/ingstor.png') }}" alt="Ikona magazynu składników">
                <span>Składniki</span> {# Opcjonalnie, tekst pod ikoną #}
            </a>
        </div>

        <div class="recipes">
            <a href="{{ url_for('recipes') }}">
                <img src="{{ url_for('static', filename='img/Brecipes.png') }}" alt="Ikona przepisów">
                <span>Przepisy</span>
            </a>
        </div>
        
        <div class="stats">
            <a href="{{url_for('stats') }}">
                <img src="{{ url_for('static', filename='img/stats.png') }}" alt ="Ikona statystyk">
                <span>Statystyki</span>
            </a>
        </div>
        
        <div class="brewing">
            <a href="{{url_for('brewing') }}">
            <img src="{{ url_for('static', filename='img/brewing.png') }}" alt="Ikona warzenia">
            <span>Warzenie</span>
            </a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

