<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible"content=" IE=edge,chrome=1"/>

    <title>MYbrewary</title>

    <meta name="brewery" content="beer, brewery, making beer">
    <meta name="keywords" content="zrób sobie browar">

    <link rel="stylesheet" href="static/style.css" type="text/css" />

</head>
<body>
    <div class="container">
        <div class="beerglass">
            <img src="./images/beerglass.png">
        </div>
    
        <div class="ingridients"> <a href="ingridients.html" ></div>
        <div class="recipes"> <a href="recipes.html" ></div>
        <div class="stats"> <a href="stats.html" ></div>
        <div class="brewing"> <a href="brewing.html" ></div>


    </div>
    
    <script src="script.js"></script>




</body>
</html>