{% extends 'base.html' %}

{% block title %}Strona magazynu{% endblock %}

{% block content %}
<div class="container">
    <form id="dodaj-element-form" action="/dodaj_do_magazynu" method="post">
        <label for="nazwa_elementu">Nazwa elementu:</label>
        <input type="text" id="nazwa_elementu" name="nazwa_elementu"><br><br>

        <label for="ilosc">Ilość:</label>
        <input type="number" id="ilosc" name="ilosc" value="0" min="0">
        <button type="button" onclick="zmniejszIlosc()">-</button>
        <button type="button" onclick="zwiekszIlosc()">+</button><br><br>

        <button type="submit">Dodaj do magazynu</button>
    </form>

    <h2>Słody</h2>
    <table>
        <thead>
            <tr><th>Nazwa</th><th>Ilość</th><th>Jednostka</th></tr>
        </thead>
        <tbody>
            {% for item in slody %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Chmiele</h2>
    <table>
        <thead>
            <tr><th>Nazwa</th><th>Ilość</th><th>Jednostka</th></tr>
        </thead>
        <tbody>
            {% for item in chmiele %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Drożdże</h2>
    <table>
        <thead>
            <tr><th>Nazwa</th><th>Ilość</th><th>Jednostka</th></tr>
        </thead>
        <tbody>
            {% for item in drozdze %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Inne Składniki</h2>
    <table>
        <thead>
            <tr><th>Nazwa</th><th>Ilość</th><th>Jednostka</th></tr>
        </thead>
        <tbody>
            {% for item in inne %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
